* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}


.calendar-header{
  font-size: 100%;
}

.calendar{
  width: 100%;
  height: 100vh; 
  align-items: left;
  justify-content: left;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.month{
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  background-color: rgb(247, 247, 247);
}
.prev,
.next {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(32, 32, 32);

}

.month i {
  font-size: 0.7rem;
  cursor: pointer;
  color: rgb(32, 32, 32);

}
/* create a css class for the month name */
.month h1 {
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(32, 32, 32);
}

.month p{
  font-size: 1.1rem;
  color: rgb(32, 32, 32);
}
.weekdays {
  
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  outline: 0.1px solid rgb(32, 32, 32);
  background-color: rgb(255, 255, 255);
}

/* make the text in the weekday component to center*/
.weekdays div {
  text-align: center;  
  font-size: calc(1vw + 3px);
  font-weight: 40;
  letter-spacing: 0.1rem;
  width: calc(100% / 7);
  align-items: center;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.days {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  padding: 1px 0;
  background-color: rgb(255, 255, 255);
}

.days div {
  font-size: 0.9rem;
  margin: 0.0rem;
  letter-spacing: 0.1rem; 
  text-indent: 0.3rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: top;
  float:left;
  text-align: left;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.date-content
{
  outline: 0.3px  solid  rgb(0, 0, 0,0.2);
  transition-duration: 0.5s;
}
.date-content:hover  {
  outline: 0.3px  solid  rgb(32, 32, 32);
}
.prev-date,
.next-date {
  opacity: 0.7;
  -webkit-text-fill-color: white; 
  /* Will override color (regardless of order) */ 
  -webkit-text-stroke-width: 0.7px; 
  -webkit-text-stroke-color: black;
}



.input-command
{
  position: fixed;
  height: 40px;
  width: auto;
  bottom: 10px;
  font-size: 13px;
}