* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}


.calendar-header{
  font-size: 100%;
}

.calendar{
  width: 100%;
  height: 100vh; 
  align-items: left;
  justify-content: left;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.month{
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  background-color: rgb(247, 247, 247);
}
.prev,
.next {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(32, 32, 32);

}

.month i {
  font-size: 0.7rem;
  cursor: pointer;
  color: rgb(32, 32, 32);

}
/* create a css class for the month name */
.month h1 {
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(32, 32, 32);
}

.month p{
  font-size: 1.1rem;
  color: rgb(32, 32, 32);
}
.weekdays {
  
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  outline: 0.1px solid rgb(32, 32, 32);
  background-color: rgb(255, 255, 255);
}

/* make the text in the weekday component to center*/
.weekdays div {
  text-align: center;  
  font-size: calc(1vw + 3px);
  font-weight: 40;
  letter-spacing: 0.1rem;
  width: calc(100% / 7);
  align-items: center;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.days {
  width: 100%;
  height: calc(100vh - 10rem);
  display: flex;
  flex-wrap: wrap;
  padding: 1px 0;
  background-color: rgb(255, 255, 255);
}

.days div {
  font-size: 0.9rem;
  margin: 0.0rem;
  width: calc(100% / 7);
  display: flex;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.date-button
{
  font-size: 1.9rem;
  margin: 0.0rem;
  letter-spacing: 0.1rem; 
  text-indent: 0.3rem;
  width: calc(100% / 7);
  display: flex;
  float:left;
  text-align: left;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.date-content form
{
  width: 100%;
  height: 100%;
  display: flex;
}
.date-content input
{
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  margin-top: 0;
  border: none;
  background-color: rgb(255, 255, 255);
  outline: 0.3px  solid  rgb(0, 0, 0,0.2);
  transition-duration: 0.5s;
}

.date-content input:hover  {
  outline: 1.5px  solid  rgb(51, 51, 51);
}
.prev-date,
.next-date {
  opacity: 0.4;
}

/*make a input prompt for the user to enter the command on the date on the right side of the screen*/
.input-command
{
  padding: 0.5rem;
  position: absolute;
  bottom: 10px;
  height: 40px;
  width: 38%;
  font-size: 13px;
  text-indent: 0.5rem;
}
.statistics
{
  position: absolute;
  bottom: 10px;
  background-color: white;
  height: 40px;
  width: 6vw;
  font-size:22px;
  right: 0;
  padding-left: 10px;
  border: none;
  left: 91%;
}
/* make the input prompt to be on the left side of the screen*/
.command-result-1
{
  padding: 0.5rem;
  position: absolute;
  bottom: 40px;
  width: 38%;
  font-size: 13px;
  text-indent: 0.5rem;
}
.helpbutton
{
  position: absolute;
  bottom: 10px;
  background-color: white;
  height: 40px;
  width: auto;
  font-size:25px;
  padding-left: 10px;
  border: none;
  left: 88%;
}
.timeline-title
{
  position: absolute;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 35%; 
  right: 0;
  top: 3vh;
}
.todo-container
{
  position: relative;
  margin-top: 5vh;
  right: 50%;  
}
.title-font
{
  font-size: 1.3rem;
}
.grid-container 
{
  display: grid;
  grid-template-columns: 50% 35% 10%;
}
.two-grid-container 
{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 3px;

}
.content-button
{
  width: 100%;
  height: 100%;
  border: none;
  outline: 1.3px solid rgb(32, 32, 32);
  cursor: pointer;
  font-size: 1.2rem;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  background-color: white;
}
.timeline-measurement
{
  margin-top: 10vh;
}
.timeline-text
{
  position: relative;
  top: -1.5vh;
  text-indent: -130%;
}
.todo-text
{
  margin-top: -0.6vh;
  margin-right: 0.5vw;
}
.timeline-delete-todo
{
  pointer-events: auto;
  position: relative;
  width: auto;
  height: auto;
  z-index: 20;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 1;
  border: none;
  background-color: rgb(255, 255, 255);
}
.timeline-delete
{
  pointer-events: auto;
  position: relative;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  z-index: 20;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 1;
  top:-3vh;
  left: 51%;
  border: none;
  background-color: rgb(255, 255, 255);
}
.timeline-content-text
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  z-index: 11;
  opacity: 1;
}
.white-highlight
{
  background-color: rgb(255, 255, 255, 0.9);
  z-index: 10;
}
.display-content
{
  display: grid;
}
.timeline
{
  position: absolute;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  pointer-events:none;
  left: 35%; 
  right: 0;
  z-index: 0;
}
.date-line
{ 
  height: 0.16vh;
  width: 50%;
  background-color: rgb(0, 0, 0, 0.2);
  margin-bottom: calc(calc(73vh+3.84vh)/24);
}
.reminder
{
  height: 10px;
  border-style: dotted;
}
.duration
{
  border-style: solid;
}

.calendar-button-value
{
  display: none;

}

.graph
{
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  transition: 0.2s;
}
.graph:hover 
{
  border-style: solid;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
}
.description-text
{
  font-size: calc(0.1rem + 0.8vw);
  margin-left: 3.5rem;
  text-align: left;
}
.fancy-stat
{
  font-size: 1.0rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  transition: 0.3s;
}
.fancy-stat:hover
{
  font-size: 1.2rem;
  font-weight: bold;
}
.title
{
  margin-top: 4vh;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color:black;
}
.bar-graph {
  width: 80%;
  height: 7vh;
  position: relative;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
}
.bar-graph p 
{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.centered-middle
{
  /* set the vertical alignment to middle and the horizontal alignment to the middle */
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);

}
.content-margin
{
  margin-top: calc(1vw + 1vh);
}

.input-field
{
  border-radius: 10px;
  margin-top: 1rem;
}

.login-button
{
  position:relative;
  top: 50%;
  border-radius: 10px 10px 10px 10px;
  border-color: black;
  margin-top: 0.4rem;
  margin-left: 5rem;
  transform: translate(-50%, -50%);
}
.message-container
{
  width: 110%;
}
.error
{
  color: red;
  font-size: 0.8rem;
  margin-left: 5rem;
}