{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<!-- organize the two divs so that they are both inside a grid -->
<div class="container-fluid">
    <div class="grid-container">
        <div class="grid-item resizable-calendar-grid">
            <div class="calendar">
                <div class="month">
                    <div class="prev">&#10094;</div>
                    <div class="calendar-header">
                        <h1></h1>
                        <p></p>
                    </div>
                    <div class="next">&#10095;</div>
                </div>
                <div class="weekdays">
                    <div class="day">Mon</div>
                    <div class="day">Tue</div>
                    <div class="day">Wed</div>
                    <div class="day">Thu</div>
                    <div class="day">Fri</div>
                    <div class="day">Sat</div>
                    <div class="day">Sun</div>
                </div>
                <div class="days">
                </div>
            </div>
        </div>
        <div class="grid-item">
            {% for date in dates %}
                <div class="alert alert-success command-result-1" role="alert">
                    {{ date.message }}
                </div>
            {% endfor %}  
            <form method="POST">
                <input name = "command" class = "input-command"  placeholder="">
            </form>      
            <button type="button" onclick="informationPrompt()" class = "helpbutton"><strong>&#x24D8;</strong></button>          
        </div>
        <div class="grid-item">
            {% for date in dates %}
                <p>subject: {{ date.title }}</p>
                <p>class: {{ date.type }}</p>
                <p>time: {{ date.time }}</p> 
                <p>duration: {{ date.duration }}</p> 
                <p>date: {{ date.date }}</p> 
            {% endfor %}     
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/CalendarScript.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock content %}

