{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<!-- organize the two divs so that they are both inside a grid -->
<div class="container-fluid">
   <div class="grid-container">
      <div class="grid-item">
         <div class="calendar">
            <div class="month">
               <div class="prev">&#10094;</div>
               <div class="calendar-header">
                  <h1></h1>
                  <p></p>
               </div>
               <div class="next">&#10095;</div>
            </div>
            <div class="weekdays">
               <div class="day">Mon</div>
               <div class="day">Tue</div>
               <div class="day">Wed</div>
               <div class="day">Thu</div>
               <div class="day">Fri</div>
               <div class="day">Sat</div>
               <div class="day">Sun</div>
            </div>
            <div class="days">
            </div>
         </div>
      </div>
      <div class="grid-item">
        {% block sideContent %}
        {% endblock sideContent %}
        <form method="POST">
            <input name = "command" class = "input-command"  placeholder="">
         </form>
         <button type="button" onclick="informationPrompt()" class = "helpbutton"><strong>&#x24D8;</strong></button>          
         <form method="POST">
            <div class = "statistics">
               <input class = "content-button" type="submit" name="statistics" value="statistics">
            </div>
         </form>
      </div>
      <div class="grid-item">
         <div class = "todo-container">
            <h2 class = "title-font">To Do List:</h2>
            <ul>
               {% for date in dates %}
                {% if not date.time %}
                    <li class = "todo-text">
                        {{ date.title }}
                        {% if date.color %}
                            <form method="POST">
                                <input class = "calendar-button-value" name = "delete" value = "{{ date.color }}">
                                <input type = "submit" value ="&#215;" class = "timeline-delete-todo">
                            </form>
                        {% endif %}
                    </li>
                {% endif %}
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>
</div>
<script src="{{ url_for('static', filename='js/CalendarScript.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock content %}