{% extends "home.html" %}
{% block sideContent %}

    <div class = "timeline-measurement">
       <center>
          <!-- create a line for all times from 1am to 12pm-->
          <div class = "date-line">
             <div class ="timeline-text">1am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">2am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">3am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">4am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">5am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">6am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">7am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">8am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">9am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">10am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">11am</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">12pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">1pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">2pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">3pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">4pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">5pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">6pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">7pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">8pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">9pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">10pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">11pm</div>
          </div>
          <div class = "date-line">
             <div class ="timeline-text">12am</div>
          </div>
       </center>
    </div>
    <center>
       <div class = "display-content">
          {% if dateTitle %}       
          <h2 class="timeline-title">Events for {{ dateTitle }}</h2>
          {% else %}
          <h2 class="timeline-title">Timeline</h2>
          {% endif %}
          {% for date in dates %}
          {% if date.time %}
          <div class ="timeline {{ date.type }}" style="height:calc({{ date.duration }}vh/18.65); top: calc({{ date.time }}vh/31.23 + 6.7vh);
             border-color: {{ date.color }}; color:{{ date.color }}; width: calc(9% + 2% / (500 / {{ date.duration }})); font-size: calc(0.7rem + 0.55rem / (500 / {{ date.duration }}));">
             <div class = "timeline-content-text"><span class = "white-highlight">{{ date.title }}</span></div>
             {% if date.color %}
             <form method="POST">
                <input class = "calendar-button-value" name = "delete" value = "{{ date.color }}">
                <input type = "submit" style = "color: {{ date.color }};" value ="&#215;" class = "timeline-delete">
             </form>
             {% endif %}
          </div>
          {% endif %}
          {% endfor %}    
       </div>
       <!-- end of dates --> 
    </center>
{% endblock sideContent %}
{% block rightSideContent%}

<div class="grid-item">
   <div class = "todo-container">
      <h2 class = "title-font">To Do List:</h2>
      <ul>
         {% for date in dates %}
          {% if not date.time %}
              <li class = "todo-text">
                  {{ date.title }}
                  {% if date.color %}
                      <form method="POST">
                          <input class = "calendar-button-value" name = "delete" value = "{{ date.color }}">
                          <input type = "submit" value ="&#215;" class = "timeline-delete-todo">
                      </form>
                  {% endif %}
              </li>
          {% endif %}
         {% endfor %}
      </ul>
   </div>
</div>
{% endblock rightSideContent%}
