{% extends "base.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<!-- organize the two divs so that they are both inside a grid -->
<div class="container-fluid">
   <div class="grid-container">
      <div class="grid-item">
         <div class="calendar">
            <div class="month">
               <div class="prev">&#10094;</div>
               <div class="calendar-header">
                  <h1></h1>
                  <p></p>
               </div>
               <div class="next">&#10095;</div>
            </div>
            <div class="weekdays">
               <div class="day">Mon</div>
               <div class="day">Tue</div>
               <div class="day">Wed</div>
               <div class="day">Thu</div>
               <div class="day">Fri</div>
               <div class="day">Sat</div>
               <div class="day">Sun</div>
            </div>
            <div class="days">
            </div>
         </div>
      </div>
      <div class="grid-item">
        {% block sideContent %}
        {% endblock sideContent %}
         {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
             {% for category, message in messages %}
               <div class = "alert alert-{{ category }} message-container">
                 {{ message }}   
               </div>
             {% endfor %}
           {% endif %}
         {% endwith %}
        <form method="POST">
            <input name = "command" class = "input-command"  placeholder="">
         </form>
         <button type="button" onclick="informationPrompt()" class = "helpbutton"><strong>&#x24D8;</strong></button>          
      </div>
      {% block rightSideContent %}
      {% endblock rightSideContent %}
      <div class = "right-navbar">
         <div class = "navbar-align-button">
            <div class = "navbar-button">
               <a class = "button-text" href="/stats">Statistics</a>
            </div>
         </div>
         <div class = "navbar-align-button">
            <div class = "navbar-button">
               <a class = "button-text" href="/login">Login</a>
            </div>
         </div>
         <div class = "navbar-align-button">
            <div class = "navbar-button">
               <a class = "button-text" href="/register">Register</a>
            </div>
         </div>
         <div class = "navbar-align-button">
            <div class = "navbar-button">
               <a class = "button-text" href="/logout">Logout</a>
            </div>
         </div>
         {% if username %}
            <p class = "navbar-text">You are logged in as {{ username }}</p>
         {% endif %}
      </div>
   </div>
</div>
<script src="{{ url_for('static', filename='js/CalendarScript.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataLoader.js') }}"></script>
{% endblock content %}